BODY {
    margin: 0px;
    padding: 0PX;
    background-color: rgb(212, 197, 197);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#icon {
    width: 62px;
    height: 62px;
    padding-right: 10px;
}

#navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(179, 29, 29);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links {
    padding-right: 30px;
}

#noticias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: px;
    flex-wrap: wrap;
   

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    color: black;

    background-color: rgb(255, 243, 243);
    border: 4px solid black;
    border-radius: 15px;
    padding: 30px;
    max-width: 400px;

}

.img_noticia {
    width: 300px;
    height: 200px;
    border: 4px;
    border-radius: 15px;
   
}

#fluminense{
    width: 200px;
    height: 200px;
    right: 0px;
    bottom:  0px;
    position: fixed;
    
}

#titulo_escalacao{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

#icon_jogador{
    width: 70px;
    height: 70px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    }

    .jogador{
    text-align: center;
}

#jogadores{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}